@using BlazorERP.Data.Entities
@using BlazorERP.Modules.IMS.Components.PageComponents
@using BlazorERP.Components.Global.Components
@inherits StorageManagementBase

@page "/IMS/StorageManagement"


<ImsMenu/>

<MudGrid Class="fix-pos">
        <MudToolWindow WindowTitle="Storage Location Details">
        @if (_selectedStore != null)
        {
            <MudGrid>
                <MudItem xs="12" sm="12" md="5">
                    <PieTypeChartCard Labels="ChartLabels" Values="ChartValues" Title="Storage Location Contents" DenseHeader="true"/>
                </MudItem>
                <MudItem xs="12" sm="12" md="7">
                    <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true">

                        <MudTabPanel Text="Details" Icon="@Icons.Material.Filled.Info">
                            <MudGrid>
                                <MudItem xs="12" sm="12" md="6">
                                    <MudTextField Label="Name" @bind-Value="_selectedStore.Name" Variant="Variant.Filled" AdornmentIcon="@Icons.Material.Filled.PermIdentity">
                                        @_selectedStore.Name
                                    </MudTextField>
                                    <MudTextField Label="Code" @bind-Value="_selectedStore.Code" Variant="Variant.Filled" AdornmentIcon="@Icons.Material.Filled.Code">
                                        @_selectedStore.Code
                                    </MudTextField>
                                    <MudTextField Label="Address" @bind-Value="_selectedStore.Address" Variant="Variant.Filled" AdornmentIcon="@Icons.Material.Filled.LocationOn">
                                        @_selectedStore.Address
                                    </MudTextField>
                                </MudItem>
                                <MudItem xs="12" sm="12" md="6">

                                </MudItem>
                                <MudItem xs="12" Class="flex flex-row justify-center p-1" Style="margin-left: 24px">
                                    <MudStack Row="true">
                                        <MudButton Variant="Variant.Filled" Color="Color.Success">
                                            <MudIcon Class="align-sub" Icon="@Icons.Material.Filled.Save"/>
                                            Save
                                        </MudButton>
                                        <MudSpacer/>
                                        <MudButton Variant="Variant.Filled" Color="Color.Error">
                                            <MudIcon Class="align-sub" Icon="@Icons.Material.Filled.Cancel"/>
                                            Deactivate
                                        </MudButton>
                                    </MudStack>
                                </MudItem>

                            </MudGrid>
                        </MudTabPanel>

                        <MudTabPanel Text="Contents" Icon="@Icons.Material.Filled.Storage">
                            <MudPaper Class="justify-center" Style="background: none;">

                                <ItemStockTable ItemStockTableVariant="ItemStockTableVariant.ByItem" Stocks="_selectedStoreStocks" TableOnly="true"></ItemStockTable>

                                <MudChip T="string"
                                         Color="Color.Info"
                                         tabindex="-1"
                                         Class="p-2 m-2" Style="right: 10px;">
                                    <MudText Typo="Typo.subtitle1" Color="Color.Default">
                                        <MudIcon Class="align-sub" Icon="@Icons.Material.Filled.Edit" Size="Size.Small"/>
                                        Click On Any Quantity to Edit
                                    </MudText>
                                </MudChip>

                            </MudPaper>
                        </MudTabPanel>

                    </MudTabs>
                </MudItem>

            </MudGrid>
        }
        else
        {
            <MudPaper Class="justify-center bg-none flex">

                <MudChip T="string"
                         Color="Color.Dark"
                         tabindex="-1"
                         Class="p-2 m-2">
                    <MudText Typo="Typo.body1" Color="Color.Default">
                        <MudIcon Class="align-top" Icon="@Icons.Material.Filled.Info" Size="Size.Medium"/>
                        Select a Storage Location to View Details
                    </MudText>
                </MudChip>

            </MudPaper>
        }
        </MudToolWindow>
    
    
    <MudItem xs="12">
        
        <MudTabs Elevation="5" Rounded="true" ApplyEffectsToContainer="true" PanelClass="p-6">
            
            <!-- Pop in pie chart of stock % by storage location -->
            <!-- Table showing which location contains what items (Contents) -->
            
            <MudTabPanel Text="Storage Locations" Icon="@Icons.Material.Filled.Storage" >

                <MudTable T="StorageLocation" Items="@_stores" Dense="true" FixedHeader="true"
                          OnRowClick="LocationSelected" SortLabel="Sort By" Class="dark">
                    
                    <HeaderContent>
                        <MudTh>ID</MudTh>
                        <MudTh><MudTableSortLabel SortBy="new Func<StorageLocation, object>(x => x.Code)">Code</MudTableSortLabel></MudTh>
                        <MudTh><MudTableSortLabel SortBy="new Func<StorageLocation, object>(x => x.Name)">Name</MudTableSortLabel></MudTh>
                        <MudTh><MudTableSortLabel SortBy="new Func<StorageLocation, object>(x => x.Address)">Address</MudTableSortLabel></MudTh>
                    </HeaderContent>
                    
                    <RowTemplate>
                        <MudTd DataLabel="ID">@context.StorageLocationId</MudTd>
                        <MudTd DataLabel="Code">@context.Code</MudTd>
                        <MudTd DataLabel="Name">@context.Name</MudTd>
                        <MudTd DataLabel="Address">@context.Address</MudTd>
                    </RowTemplate>
                    
                    <FooterContent>
                        <td colspan="4">
                            <MudButton Size="Size.Small" FullWidth="true" OnClick="OpenNewStorageLocationDialog"
                                       Style="border-top: 1px black solid; background-color: var(--mud-palette-info)">
                                <MudText Typo="Typo.button" Style="color: var(--mud-palette-white)">
                                    <MudIcon Class="align-sub" Icon="@Icons.Material.Filled.Add"/>
                                    Add New Location
                                </MudText>
                            </MudButton>
                        </td>
                    </FooterContent>
                    
                </MudTable>

            </MudTabPanel>


        </MudTabs>
        
        
    </MudItem>
    
    
    
</MudGrid>