<MudItem xs="12" Style="z-index: 1;" Class="tool-window">
    <div class="tool-window-container">
        @if (ChildContent == null || !ChildContent.HasSingleTarget)
        {
            <MudPaper Class="justify-center bg-none flex">
                
                <MudChip T="string"
                         Color="Color.Dark"
                         tabindex="-1"
                         Class="p-2 m-2">
                    <MudText Typo="Typo.body1" Color="Color.Default">
                        <MudIcon Class="align-top" Icon="@Icons.Material.Filled.Info" Size="Size.Medium"/>
                        Select an Item to View Details
                    </MudText>
                </MudChip>
                
            </MudPaper>
        }
        else
        {
            @ChildContent    
        }
        
    </div>
    <div class="tool-window-footer">
        <MudGrid Justify="Justify.FlexStart" Class="pr-2">
            <MudItem xs="8">
                <MudText Typo="Typo.h6" Color="Color.Secondary">
                    <MudIcon Class="align-sub" Icon="@FooterIcon"/>
                    @WindowTitle
                </MudText>
            </MudItem>
            <MudSpacer/>
            @if (ChildContent != null)
            {
                <MudItem xs="2">
                    <MudHidden Breakpoint="Breakpoint.SmAndUp">
                        <MudIconButton Variant="Variant.Outlined" Color="Color.Success" Size="Size.Small" Icon="@Icons.Material.Filled.Save" OnClick="OnSave"/>    
                    </MudHidden>
                    <MudHidden Breakpoint="Breakpoint.Xs">
                        <MudButton Variant="Variant.Outlined" Color="Color.Success" FullWidth="true" Size="Size.Small" OnClick="OnSave">
                            <MudIcon Class="align-sub" Icon="@Icons.Material.Filled.Save"/>
                            Save
                        </MudButton>                        
                    </MudHidden>
                </MudItem>
                <MudSpacer/>
                <MudItem xs="2">
                    <MudHidden Breakpoint="Breakpoint.SmAndUp">
                        <MudIconButton Variant="Variant.Outlined" Color="@SecondaryButtonColor" Size="Size.Small" Icon="@SecondaryButtonIcon" OnClick="@OnSecondary"/>    
                    </MudHidden>
                    <MudHidden Breakpoint="Breakpoint.Xs">
                        <MudButton Variant="Variant.Outlined" Color="@SecondaryButtonColor" FullWidth="true" Size="Size.Small" OnClick="@OnSecondary">
                            <MudIcon Class="align-sub" Icon="@SecondaryButtonIcon"/>
                            @SecondButtonText
                        </MudButton>                        
                    </MudHidden>
                </MudItem>
            }
        </MudGrid>
    </div>
</MudItem>

@code{
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    [Parameter]
    public string WindowTitle { get; set; } = "Tool Window";
    [Parameter]
    public string FooterIcon { get; set; } = Icons.Material.Filled.Info;
    [Parameter]
    public string SecondButtonText { get; set; } = "Deactivate";
    [Parameter]
    public Color SecondaryButtonColor { get; set; } = Color.Error;
    [Parameter]
    public string SecondaryButtonIcon { get; set; } = Icons.Material.Filled.Cancel;
    // Event callbacks for save and secondary actions
    [Parameter]
    public EventCallback OnSave { get; set; }
    [Parameter] 
    public EventCallback OnSecondary { get; set; }

}
